<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Elearn</title>
    <link rel="apple-touch-icon" sizes="57x57"
        href="https://res.cloudinary.com/dmfa6q9kt/image/upload/v1582324420/logos/apple-icon-57x57_whmkba.png">
    <link rel="apple-touch-icon" sizes="60x60"
        href="https://res.cloudinary.com/dmfa6q9kt/image/upload/v1582324420/logos/apple-icon-60x60_e1qsuh.png">
    <link rel="apple-touch-icon" sizes="72x72"
        href="https://res.cloudinary.com/dmfa6q9kt/image/upload/v1582324420/logos/apple-icon-72x72_hl2m7w.png">
    <link rel="apple-touch-icon" sizes="76x76"
        href="https://res.cloudinary.com/dmfa6q9kt/image/upload/v1582324420/logos/apple-icon-76x76_w0tlx2.png">
    <link rel="apple-touch-icon" sizes="114x114"
        href="https://res.cloudinary.com/dmfa6q9kt/image/upload/v1582324418/logos/apple-icon-114x114_avxfnh.png">
    <link rel="apple-touch-icon" sizes="120x120"
        href="https://res.cloudinary.com/dmfa6q9kt/image/upload/v1582324418/logos/apple-icon-120x120_c2kwrn.png">
    <link rel="apple-touch-icon" sizes="144x144"
        href="https://res.cloudinary.com/dmfa6q9kt/image/upload/v1582324419/logos/android-icon-144x144_mb8nmk.png">
    <link rel="apple-touch-icon" sizes="152x152"
        href="https://res.cloudinary.com/dmfa6q9kt/image/upload/v1582324418/logos/apple-icon-152x152_p2sm32.png">
    <link rel="apple-touch-icon" sizes="180x180"
        href="https://res.cloudinary.com/dmfa6q9kt/image/upload/v1582324418/logos/apple-icon-180x180_p561oy.png">
    <link rel="icon" type="image/png" sizes="192x192"
        href="https://res.cloudinary.com/dmfa6q9kt/image/upload/v1582324420/logos/android-icon-192x192_ykd1hx.png">
    <link rel="icon" type="image/png" sizes="32x32"
        href="https://res.cloudinary.com/dmfa6q9kt/image/upload/v1582324418/logos/favicon-32x32_hhvety.png">
    <link rel="icon" type="image/png" sizes="96x96"
        href="https://res.cloudinary.com/dmfa6q9kt/image/upload/v1582324419/logos/android-icon-96x96_a4de9y.png">
    <link rel="icon" type="image/png" sizes="16x16"
        href="https://res.cloudinary.com/dmfa6q9kt/image/upload/v1582324418/logos/favicon-16x16_ofs7cm.png">
    <link rel="manifest" href="https://res.cloudinary.com/dmfa6q9kt/raw/upload/v1582324419/logos/manifest_lbcggn.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage"
        content="https://res.cloudinary.com/dmfa6q9kt/image/upload/v1582324419/logos/ms-icon-144x144_pbkwwa.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="/css/bootswatch.min.css">
    <!-- Bootstrap Include  -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- summernote -->
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote.min.js"></script>

    <style>
        .about {
            cursor: pointer;
            background-color: #ffffff;
            color: rgb(0, 0, 0);
            padding-top: 20px;
            padding-bottom: 30px;
        }

        .about h1 {
            padding: 10px 0;
            margin-bottom: 20px;
        }

        .about h2 {
            opacity: .8;
        }

        .about span {
            display: block;
            width: 100px;
            height: 100px;
            line-height: 100px;
            margin: auto;
            border-radius: 50%;
            font-size: 40px;
            color: #FFFFFF;
            opacity: 0.7;
            background-color: rgb(0, 0, 0);
            border: 2px solid rgb(0, 0, 0);

            webkit-transition: all .5s ease;
            moz-transition: all .5s ease;
            os-transition: all .5s ease;
            transition: all .5s ease;

        }

        .about-item:hover span {
            opacity: 1;
            border: 2px solid #CC0039;
            font-size: 42px;
            -webkit-transform: scale(1.1, 1.1) rotate(360deg);
            -moz-transform: scale(1.1, 1.1) rotate(360deg);
            -o-transform: scale(1.1, 1.1) rotate(360deg);
            transform: scale(1.1, 1.1) rotate(360deg);
        }

        .about-item:hover h2 {
            opacity: 1;
            -webkit-transform: scale(1.1, 1.1);
            -moz-transform: scale(1.1, 1.1);
            -o-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
        }

        .about .lead {
            color: rgb(0, 0, 0);
            font-size: 14px;
            font-weight: bold;
        }
    </style>
    <script type="text/javascript"
        src="https://platform-api.sharethis.com/js/sharethis.js#property=5e5b8615619d9200192ca02d&product=inline-share-buttons"
        async="async"></script>
    <script src="https://use.fontawesome.com/39121f5ff5.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">Elearn</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <% if (typeof email == 'undefined') { %>
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <% } else { %>
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="/courses">Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mycourses">My Courses</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>

                <% } %>
            </ul>

        </div>
    </nav>
    <div class="container">