<%include partials/header %>

<section class="text-center about">
    <h1>About US</h1>
        <div class="row">
            <div class="col-lg-4 col-sm-6 col-ex-12 about-item wow lightSpeedIn" data-wow-offset="200">
                <span class="fa fa-group"></span>
                <h2>Teach</h2>
                <p class="lead">As an educator you can create a course and add lessons whenever you want.</p>
            </div>
            <div class="col-lg-4 col-sm-6 col-ex-12 about-item wow lightSpeedIn" data-wow-offset="200">
                <span class="fa fa-info"></span>
                <h2>Learn</h2>
                <p class="lead">As a learner you can choose whatever course you want to learn and just get started with it
                </p>
            </div>
            <div class="clearfix visible-md-block visible-sm-block"></div>
            <div class="col-lg-4 col-sm-6 col-ex-12 about-item wow lightSpeedIn" data-wow-offset="200">
                <span class="fa fa-file"></span>
                <h2>Implement</h2>
                <p class="lead">LEATCODE will provide some free facilities for your project and assignment.
                    We will be providing you a subdomain and a MYSQL DATABASE.</p>
            </div>

        </div>

    </section>