<%include partials/header %>
<% if (typeof CourseAdded != 'undefined') { %>
<div class="alert alert-success"><%- CourseAdded %></div>
<% } %>
<h2>Your Ongoing Courses</h2>
<div class="container">
    <ul class="list-group">
            <% courses.forEach(courses => { %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <%= courses.title %> <a href="/manage/course/details/<%= courses.id %>" class="btn btn-secondary" role="button">Manage</a>
        </li>
        <% }); %>
    </ul>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">New Course</button>
    <!-- New Course Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">New Course</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form action="/form/new/course" method="POST">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Course Title</label>
                            <input type="text" class="form-control" name="title" placeholder="Course Title">
                        </div>
                        <div class="form-group">
                            <label for="exampleTextarea">Description</label>
                            <textarea class="form-control" id="exampleTextarea" name="lesson"
                                placeholder="Description of course" rows="3"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                        </fieldset>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>