<%include partials/header %>
<div class="container">

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading"><%= details[0].title %></h1>
            <p class="lead text-muted"><%= details[0].lesson %></p>
            <p>
                <% if(email == undefined) { %>
                <button type="button" class="btn btn-secondary my-2">Subscibe to this course</button>

                <div class="alert alert-dismissible alert-primary">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Oh snap!</strong> You need to be <a href="/login" class="alert-link">logged in</a> before
                    subscribing to any course
                </div>
                <% } else { %>
                <form action="/form/subscribe" method="POST">
                    <input type="hidden" name="course_id" value="<%= details[0].id %>">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Add
                        Lesson</button>
                    <% } %>
                </form>
            </p>
        </div>
    </section>
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add lesson in <%= details[0].title %></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form action="/add/lesson" method="POST">
                        <div class="form-group">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Title</label>
                                <input type="text" class="form-control" name="title" placeholder="Title">
                            </div>
                            <div class=form-group>
                                <label for="exampleInputEmail1">Lesson</label>
                            <textarea class="form-control" id="summernote" name="lesson" placeholder="Lesson"
                                rows="3"></textarea>
                            </div>
                            <input type="hidden" name="course_id" value="<%= details[0].id %>">
                            <input type="hidden" name="course_title" value="<%= details[0].title %>">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                        </fieldset>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
            <br><br><br><br><br><br><br>
        </div>
    </div>
    <h2>Your Previous Lessons</h2>
    <br>
    <% lessons.forEach(lessons => { %>
    <div class="card">
        <div class="card-header">
            <%= lessons.id %>
            <% var last_digit = lessons.id; %>
            <% var last_num = last_digit % 10; %>
            <% if(last_num == 1) { %>
            st
            <% } %>
            <% if(last_num == 2) { %>
            nd
            <% } %>
            <% if(last_num == 3) { %>
            rd
            <% } %>
            <% if(last_num > 3) { %>
            th
            <% } %>
            lesson
        </div>
        <div class="card-body">
            <p class="card-text"><%- lessons.lesson %></p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
    </div>
    <br>
    <% }); %>
</div>
<br>
<script>
    $('#summernote').summernote({
        placeholder: 'Write your lesson',
        tabsize: 2,
        height: 600,
        toolbar: [
            ['style', ['style']],
            ['font', ['bold', 'underline', 'clear']],
            ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['table', ['table']],
            ['insert', ['link', 'picture', 'video']],
            ['view', ['fullscreen', 'codeview', 'help']]
        ]
    });
    var last_digit = 95;
    var num = last_digit % 10;
</script>