<%include partials/header %>
<style>
    .alert {
        display: none;
    }
</style>
<div class="container">

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading"><%= details[0].title %></h1>
            <p class="lead text-muted"><%= details[0].lesson %></p>
            <p>
                <% if(email == undefined) { %>
                <button type="button" class="btn btn-secondary my-2">Subscibe to this course</button>

                <div class="alert alert-dismissible alert-primary">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Oh snap!</strong> You need to be <a href="/login" class="alert-link">logged in</a> before
                    subscribing to any course
                </div>
                <% } else { %>
                <form action="/form/subscribe" method="POST">
                    <input type="hidden" name="course_id" value="<%= details[0].id %>">
                    <button type="submit" class="btn btn-primary my-2">Subscibe to this course</button>
                    <% } %>
                </form>
            </p>
        </div>
    </section>
</div>

<script>
    $(document).ready(function () {
        $('button').click(function () {
            $('.alert').show()
        })
    });
</script>