<%include partials/header %>
<div class="row">
  <div class="col-md-3">


    <button type="button" class="btn btn-default btn-sm btn-block hidden-lg hidden-md" data-toggle="collapse"
      data-target="#demo">Hide Panels<span class="caret"></span>

    </button>

    <div id="demo" class="collapse in">
      <hr>
      <div class="list-group list-group">
        <h4 class="">Category</h4>
        <a href="#" class="list-group-item"><span class="badge">14</span> Active item <span
            class="label label-primary">New</span></a>
        <a href="#" class="list-group-item"><span class="badge">3</span> Second item</a>
        <a href="#" class="list-group-item"><span class="badge">25</span> Third item</a>
        <a href="#" class="list-group-item"><span class="badge">14</span> Active item</a>
        <a href="#" class="list-group-item"><span class="badge">3</span> Second item</a>
        <a href="#" class="list-group-item"><span class="badge">25</span> Third item</a>
        <a href="#" class="list-group-item"><span class="badge">14</span> Active item</a>
        <a href="#" class="list-group-item"><span class="badge">3</span> Second item</a>

        <div id="categories" class="collapse">

          <a href="#" class="list-group-item"><span class="badge">14</span> Active item</a>
          <a href="#" class="list-group-item"><span class="badge">3</span> Second item</a>
          <a href="#" class="list-group-item"><span class="badge">25</span> Third item</a>
          <a href="#" class="list-group-item"><span class="badge">14</span> Active item</a>
          <a href="#" class="list-group-item"><span class="badge">3</span> Second item</a>
        </div>


        <button class="btn btn-default btn-sm btn-block" data-toggle="collapse" data-target="#categories">More <span
            class="caret"></span></button>

        <hr class="">
        <h4 class="">Viewing Options</h4>
        <a href="#" class="list-group-item"><span class="badge">14</span> Upcoming Sessions</a>

        <a href="#" class="list-group-item"><span class="badge">3</span> OnDemand</a>
        <hr class="">
        <a href="#" class="list-group-item">Archived Courses</a>
        <a href="#" class="list-group-item">Courses In Development</a>
      </div>
    </div>



    <div class="hidden-sm hidden-xs">

      <hr>

      <div class="well">

        <h4>Premium Membership</h4>
        <p>Gain unlimited access to our entire course library.</p>
        <button class="btn btn-sm btn-warning">Learn more</button>

        <hr>
        <p class="text-center ">Already a member? <a href="#">Sign in.</a></p>
      </div>


      <hr>

      <div class="well">

        <h4>Course Catalog</h4>
        <p><a href="#"><img src="http://placehold.it/400X500" class="img-responsive"></a></p>

        <p>Everything you need to know about our webinars, including speaker bios, topics, and courses.</p>

        <button class="btn btn-sm btn-block btn-warning">Download</button>
      </div>

      <hr>

      <h4 class="text-center">CPE Partners</h4>

      <p><a href="#"><img class="center-block" src="http://placehold.it/100X100"></a></p>



    </div>

  </div>
  <div class="col-md-9">


    <div class="well hidden-xs">

      <div class="row">

        <div class="col-xs-4">


          <select class="form-control">
            <option>Featured</option>
            <option>Recently Added</option>
            <option>Next Upcoming Session</option>
            <option>A-Z</option>
            <option>Z-A</option>
          </select>
        </div>
        <div class="col-xs-8">
          <div class="btn-group pull-right">
            <button type="button" class="btn btn-default active"><span
                class="glyphicon glyphicon-th-list"></span></button>

          </div>
        </div>

      </div>





    </div>

    <hr>


    <div class="row">
      <div class="col-sm-4"><a href="#" class=""><img src="http://placehold.it/1280X720" class="img-responsive"></a>
      </div>
      <div class="col-sm-8">
        <h3 class="title">How to Fight Fraud with Artificial Intelligence and Intelligent Analytics</h3>
        <p class="text-muted"><span class="glyphicon glyphicon-lock"></span> Available Exclusively for Premium Members
        </p>
        <p>Could artificial intelligence have been used to prevent the high-profile Target breach? The concept is not
          so far-fetched. Organizations such as Mastercard and RBS WorldPay have long relied on artificial
          intelligence to detect fraudulent transaction patterns and prevent card.</p>

        <p class="text-muted">Presented by <a href="#">Coffin John</a></p>

      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-4"><a href="#" class=""><img src="http://placehold.it/1280X720" class="img-responsive"></a>
      </div>
      <div class="col-sm-8">
        <h3 class="title">Big Payment Data: Leveraging Transactional Data to Ensure an Enterprise Approach to Risk
          Management</h3>
        <p class="text-muted"><span class="glyphicon glyphicon-calendar"></span> July 23, 2014 @ 1:30 PM</p>
        <p>60% of organizations were exposed to actual or attempted fraud loss last year. As fraud and risk increases
          year over year, the amount of data being collected increases as well.
        </p>
        <p class="text-muted">Presented by <a href="#">Mike Braatz</a>, <a href="#">Jonathan Eber</a></p>

      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-4"><a href="#" class=""><img src="http://placehold.it/1280X720" class="img-responsive"></a>
      </div>
      <div class="col-sm-8">
        <h3 class="title">How to Fight Fraud with Artificial Intelligence and Intelligent Analytics</h3>
        <p class="text-muted"><span class="glyphicon glyphicon-lock"></span> Available Exclusively for Premium Members
        </p>
        <p>Could artificial intelligence have been used to prevent the high-profile Target breach? The concept is not
          so far-fetched. Organizations such as Mastercard and RBS WorldPay have long relied on artificial
          intelligence to detect fraudulent transaction patterns and prevent card.</p>

        <p class="text-muted">Presented by <a href="#">Ellen Richey</a></p>

      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-4"><a href="#" class=""><img src="http://placehold.it/1280X720" class="img-responsive"></a>
      </div>
      <div class="col-sm-8">
        <h3 class="title">Big Payment Data: Leveraging Transactional Data to Ensure an Enterprise Approach to Risk
          Management</h3>
        <p class="text-muted"><span class="glyphicon glyphicon-calendar"></span> July 23, 2014 @ 1:30 PM</p>
        <p>60% of organizations were exposed to actual or attempted fraud loss last year. As fraud and risk increases
          year over year, the amount of data being collected increases as well.
        </p>
        <p class="text-muted">Presented by <a href="#">Mike Braatz</a>, <a href="#">Jonathan Eber</a></p>

      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-4"><a href="#" class=""><img src="http://placehold.it/1280X720" class="img-responsive"></a>
      </div>
      <div class="col-sm-8">
        <h3 class="title">How to Fight Fraud with Artificial Intelligence and Intelligent Analytics</h3>
        <p class="text-muted"><span class="glyphicon glyphicon-lock"></span> Available Exclusively for Premium Members
        </p>
        <p>Could artificial intelligence have been used to prevent the high-profile Target breach? The concept is not
          so far-fetched. Organizations such as Mastercard and RBS WorldPay have long relied on artificial
          intelligence to detect fraudulent transaction patterns and prevent card.</p>

        <p class="text-muted">Presented by <a href="#">Ellen Richey</a></p>

      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-4"><a href="#" class=""><img src="http://placehold.it/1280X720" class="img-responsive"></a>
      </div>
      <div class="col-sm-8">
        <h3 class="title">Big Payment Data: Leveraging Transactional Data to Ensure an Enterprise Approach to Risk
          Management</h3>
        <p class="text-muted"><span class="glyphicon glyphicon-calendar"></span> July 23, 2014 @ 1:30 PM</p>
        <p>60% of organizations were exposed to actual or attempted fraud loss last year. As fraud and risk increases
          year over year, the amount of data being collected increases as well.
        </p>
        <p class="text-muted">Presented by <a href="#">Mike Braatz</a>, <a href="#">Jonathan Eber</a></p>

      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-4"><a href="#" class=""><img src="http://placehold.it/1280X720" class="img-responsive"></a>
      </div>
      <div class="col-sm-8">
        <h3 class="title">How to Fight Fraud with Artificial Intelligence and Intelligent Analytics</h3>
        <p class="text-muted"><span class="glyphicon glyphicon-lock"></span> Available Exclusively for Premium Members
        </p>
        <p>Could artificial intelligence have been used to prevent the high-profile Target breach? The concept is not
          so far-fetched. Organizations such as Mastercard and RBS WorldPay have long relied on artificial
          intelligence to detect fraudulent transaction patterns and prevent card.</p>

        <p class="text-muted">Presented by <a href="#">Ellen Richey</a></p>

      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-4"><a href="#" class=""><img src="http://placehold.it/1280X720" class="img-responsive"></a>
      </div>
      <div class="col-sm-8">
        <h3 class="title">Big Payment Data: Leveraging Transactional Data to Ensure an Enterprise Approach to Risk
          Management</h3>
        <p class="text-muted"><span class="glyphicon glyphicon-calendar"></span> July 23, 2014 @ 1:30 PM</p>
        <p>60% of organizations were exposed to actual or attempted fraud loss last year. As fraud and risk increases
          year over year, the amount of data being collected increases as well.
        </p>
        <p class="text-muted">Presented by <a href="#">Mike Braatz</a>, <a href="#">Jonathan Eber</a></p>

      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-4"><a href="#" class=""><img src="http://placehold.it/1280X720" class="img-responsive"></a>
      </div>
      <div class="col-sm-8">
        <h3 class="title">How to Fight Fraud with Artificial Intelligence and Intelligent Analytics</h3>
        <p class="text-muted"><span class="glyphicon glyphicon-lock"></span> Available Exclusively for Premium Members
        </p>
        <p>Could artificial intelligence have been used to prevent the high-profile Target breach? The concept is not
          so far-fetched. Organizations such as Mastercard and RBS WorldPay have long relied on artificial
          intelligence to detect fraudulent transaction patterns and prevent card.</p>

        <p class="text-muted">Presented by <a href="#">Ellen Richey</a></p>

      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-4"><a href="#" class=""><img src="http://placehold.it/1280X720" class="img-responsive"></a>
      </div>
      <div class="col-sm-8">
        <h3 class="title">Big Payment Data: Leveraging Transactional Data to Ensure an Enterprise Approach to Risk
          Management</h3>
        <p class="text-muted"><span class="glyphicon glyphicon-calendar"></span> July 23, 2014 @ 1:30 PM</p>
        <p>60% of organizations were exposed to actual or attempted fraud loss last year. As fraud and risk increases
          year over year, the amount of data being collected increases as well.
        </p>
        <p class="text-muted">Presented by <a href="#">Mike Braatz</a>, <a href="#">Jonathan Eber</a></p>

      </div>
    </div>
    <hr>



    <ul class="pagination pagination-lg pull-right">
      <li><a href="#">«</a></li>
      <li class="active"><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">»</a></li>
    </ul>


  </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>