<!-- <% // include partials/header %>
<h2>New Lessons</h2>
<br>
<div class="row">
  <div class="col-md">
    <div class="card border-light mb-3" style="max-width: 120rem;">
      <div class="card-header"></div> -->
<!-- <div class="card-body"> -->
<!-- <h4 class="card-title">Light card title</h4> -->
<!-- <p class="card-text">
          <a href="/view/answer/<%= feed.id %>"></a>
        </p>
      </div>
    </div>
  </div>
</div> -->

<%include partials/header %>
<div class="row">
  <div class="col-md-3">
    <button type="button" class="btn btn-default btn-sm btn-block hidden-lg hidden-md" data-toggle="collapse"
      data-target="#demo">Hide Panels<span class="caret"></span>
    </button>

    <div id="demo" class="collapse in">
      <hr>
      <div class="list-group list-group">
        <h4 class="">Subscribed Courses</h4>
        <% my_courses.forEach(my_courses => { %>
          <a href="/manage/usercourse/details/<%= my_courses.id %>" class="list-group-item"><%= my_courses.title %></a>
          <% }); %>
        <!-- <div id="categories" class="collapse">

          <a href="#" class="list-group-item"><span class="badge">14</span> Active item</a>
          <a href="#" class="list-group-item"><span class="badge">3</span> Second item</a>
          <a href="#" class="list-group-item"><span class="badge">25</span> Third item</a>
          <a href="#" class="list-group-item"><span class="badge">14</span> Active item</a>
          <a href="#" class="list-group-item"><span class="badge">3</span> Second item</a>
        </div> -->

        <!-- <button class="btn btn-default btn-sm btn-block" data-toggle="collapse" data-target="#categories">More <span
            class="caret"></span></button> -->

        <hr class="">
        <h4 class="">New Courses</h4>
        <% unsubscribed_courses.forEach(unsubscribed_courses => { %>
        <a href="/course/details/<%= unsubscribed_courses.id %>" class="list-group-item"><%=  unsubscribed_courses.title %>&nbsp;<span
          class="label label-primary">New</span></a>
        <% }); %>

        <!-- <hr class="">
        <a href="#" class="list-group-item">Archived Courses</a>
        <a href="#" class="list-group-item">Courses In Development</a> -->
      </div>
    </div>

    <div class="hidden-sm hidden-xs">
      <hr>
      <div class="well">
        <h4>Like LEATCODE?</h4>
        <p>Invite your friends here!!</p>
        <div class="sharethis-inline-share-buttons"></div>
      </div>
      <hr>
      <div class="well">
        <h4>Download the LEATCODE APP</h4>
        <p><a href="#"><img src="https://res.cloudinary.com/dmfa6q9kt/image/upload/v1582324190/logos/logo.png_p08g81.png" class="img-responsive"></a></p>
        <p>Get important updates and other things</p>
        <a href="/download/app" class="btn btn-sm btn-block btn-warning" role="button">Download</a>
      </div>
      <hr>
    </div>
  </div>
  <div class="col-md-9">
    <div class="well hidden-xs">
      <div class="row">
        <div class="col-xs-4">
          <select class="form-control">
            <option>Featured</option>
            <option>Recently Added</option>
            <option>Next Upcoming Session</option>
            <option>A-Z</option>
            <option>Z-A</option>
          </select>
        </div>
        <div class="col-xs-8">
          <div class="btn-group pull-right">
            <button type="button" class="btn btn-default active"><span
                class="glyphicon glyphicon-th-list"></span></button>
          </div>
        </div>

      </div>
    </div>
    <% feed.forEach(feed => { %>
    <hr>
    <div class="row">
      <div class="col-sm-4"><a href="#" class=""><img src="https://res.cloudinary.com/dmfa6q9kt/image/upload/v1582324190/logos/logo.png_p08g81.png" class="img-responsive"></a>
      </div>
      <div class="col-sm-8">
        <h3 class="title"><a href="/view/answer/<%= feed.id %>"><%= feed.title %></a></h3>
        <p class="text-muted"><span class="glyphicon glyphicon-lock"></span> Available Exclusively
        </p>
        <p><%- feed.lesson.substring(0,120) %></p>

        <p class="text-muted">Presented by <a href="/user/profile/<%= feed.email %>"><%= feed.email %></a></p>

      </div>
    </div>
    <hr>
    <% }); %>
    <hr>
    <hr>
    <ul class="pagination pagination-lg pull-right">
      <li><a href="#">«</a></li>
      <li class="active"><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">»</a></li>
    </ul>
  </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>