<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/user_details.css" />
    <title>Form Validator</title>
    <style>
        select { width: 24.5em }
        </style>
</head>

<body>
    <div class="container">
        <div class="column1">
            <form class="form" action="/add/user/details" method="POST">
                <h2>Little bit more about yourself</h2>
                <div class="form-control">
                    <label for='email'>Email</label>
                    <input type="text" id="email" name="email" placeholder="Enter your email">
                    <small>Error message</small>
                </div>
                <div class="form-control">
                    <label for='Profession'>Your Profession</label>
                    <input type="text" id="Profession" name="profession" placeholder="Enter Your Profession">
                    <small>Error message</small>
                </div>
                <div class="form-control">
                    <label for='Profession'>Student or Learner</label>
                    <select class="form-control" name="type" id="sel1">
                      <option value="student">Learner</option>
                      <% if(public_repo > 10) { %>
                      <option value="pro">Teacher</option>
                      <% } %>
                    </select>
                </div> 
                <button type="submit">Submit</button>
            </form>
        </div>
        <div class="column2">

            <img src="https://i.ibb.co/k5NNz4F/pablo-sign-up.png" alt="pablo-sign-up" border="0" class='signup-image'>
        </div>

    </div>
    </body>

</html>