<%include partials/header %>

  <div class="jumbotron">
    <h1 class="display-3">Welcome to LEATCODE <% if (typeof email != 'undefined') { %>
      <%= email %>
      <% } %></h1>
    <p class="lead">
      LEATCODE won't code for you so</p>
    <hr class="my-4">
     <p class="lead">
       <a id="github-button" href="/login/github" class="btn btn-dark btn-social btn-github">
        <i class="fa fa-github"></i> Continue with Github
      </a>
    </p>
  </div>
</div>
</body>
<%include partials/footer %>

</html>