<%include partials/header %>
<div class="alert alert-dismissible alert-light">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Login</strong>
</div>
<% if (typeof UserCreated != 'undefined') { %>
<div class="alert alert-success"><%- UserCreated %></div>
<% } %>
<% if (typeof UserFailed != 'undefined') { %>
    <div class="alert alert-warning"><%- UserFailed %></div>
    <% } %>
<form action="/form/login" method="POST">
    <fieldset>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </fieldset>
</form>
<br>
<h4>New here? <a href="/signup">Get Started </a></h4>
<%include partials/footer %>