<%include partials/header %>
<% if (typeof courseSubscriptions != 'undefined') { %>
<div class="alert alert-warning"><%- courseSubscriptions %></div>
<% } %>
<h2>Subscribed Courses</h2>
<div class="container">
    <ul class="list-group">
        <% courses.forEach(courses => { %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <%= courses.title %> <a href="/manage/usercourse/details/<%= courses.id %>" class="btn btn-secondary"
                role="button">View More</a>
        </li>
        <% }); %>
    </ul>
</div>