<%include partials/header %>

<div class="container">

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading"><%= details[0].title %></h1>
            <p class="lead text-muted"><%= details[0].lesson %></p>
            <p>
                <% if(email == undefined) { %>
                <button type="button" class="btn btn-secondary my-2">Subscibe to this course</button>

                <div class="alert alert-dismissible alert-primary">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Oh snap!</strong> You need to be <a href="/login" class="alert-link">logged in</a> before
                    subscribing to any course
                </div>
                <% } else { %>
                <form action="/form/unsubscribe" method="POST">
                    <input type="hidden" name="course_id" value="<%= details[0].id %>">
                    <button type="submit" class="btn btn-danger my-2">Unsubscibe to this course</button>
                    <% } %>
                </form>
            </p>
        </div>
    </section>
    <h2>Your Previous Lessons</h2>
    <br>
    <% lessons.forEach(lessons => { %>
    <div class="card">
        <div class="card-header">
            <%= lessons.id %>st lesson
        </div>
        <div class="card-body">
            <p class="card-text"><%- lessons.lesson %></p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
    </div>
    <br>
    <% }); %>
</div>

