<%include partials/header %>
<div class="alert alert-dismissible alert-light">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Signup</strong>
</div>
<form action="/form/signup" method="POST">
    <fieldset>
        <div class="form-group">
            <label for="exampleInputEmail1">Your Full Name</label>
            <input type="text" class="form-control" name="name" id="exampleInputEmail1" placeholder="Enter your name">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" name="email" id="exampleInputEmail1" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" name="password" id="exampleInputPassword1"
                placeholder="Password">
            <small id="emailHelp" class="form-text text-muted">It really doesn't matter to us what pass you
                choose.(Still we recomment <h7><b><%= random_pass %></b> </h7> )</small>
        </div>
        <div class="form-group">
            <label for="exampleSelect1">What are you?</label>
            <select class="form-control" name="type" id="exampleSelect1">
                <option value="student">Learner</option>
                <option value="pro">Teacher</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Signup</button>
    </fieldset>
</form>
<br>
<h4>Already have an account? <a href="/login/github">Login</a></h4>
<a class="btn btn-block btn-social btn-github" href="/login/github">
    <span class="fa fa-github"></span>(UNDER DEV) Sign in with GitHub
  </a>
<%include partials/footer %>