<style>.txt-center{
    text-align: center;
}

body{
    height: 100vh;
    font-family: 'Poppins',sans-serif;
    background: url("https://wallpaperplay.com/walls/full/b/3/7/329976.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.center1{
    margin: auto;
}

.center3{
    display: flex;
    align-items: center;
    resize: both;
}

.two-step-div .two-title{
    font-size: 22px;
    font-weight: bold;
    color: #3c3c3c;
    margin-top: 15px;
}

.two-step-div .my-img{
    width: 140px;
    height: auto;
}

.two-step-div .two-p{
    font-size: 13px;
    margin-top: 15px;
    margin-bottom: 30px;
    color: #666666;
}

.two-step-div #form{
    direction: ltr;
}

.two-step-div #form input{
    border-color: transparent;
    background: transparent;
    border-bottom: 1.5px solid #cccccc;
    text-align: center;
    font-size: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.two-step-div #form input:focus{
    outline: 0px transparent !important;
    box-shadow: transparent !important;
    border-right: transparent !important;
    border-left: transparent !important;
    border-top: transparent !important;
    border-color: #00AEEF;
    animation: border-pulsate 1.5s infinite;
    -webkit-tap-highlight-color: transparent;
}

.two-step-div .not-first:disabled{
    background-color: transparent;
    border-bottom: 1px solid #cccccc !important;
}

@-moz-keyframes border-pulsate {
    0% {
        border-color: #00AEEF;
    }
    50% {
        border-color: rgba(0,0,0,0.3);
    }
    100% {
        border-color: #00AEEF;
    }
}
@-webkit-keyframes border-pulsate {
    0% {
        border-color: #00AEEF;
    }
    50% {
        border-color: rgba(0,0,0,0.3);
    }
    100% {
        border-color: #00AEEF;
    }
}
@-o-keyframes border-pulsate {
    0% {
        border-color: #00AEEF;
    }
    50% {
        border-color: rgba(0,0,0,0.3);
    }
    100% {
        border-color: #00AEEF;
    }
}
@keyframes border-pulsate {
    0% {
        border-color: #00AEEF;
    }
    50% {
        border-color: rgba(0,0,0,0.3);
    }
    100% {
        border-color: #00AEEF;
    }
}

.btn-verify{
    background: #00AEEF;
    color: #ffffff;
    border-color: transparent;
    border-radius: 7px;
    padding: 10px 25px;
    font-size: 14px;
    cursor: pointer;
    /*transition: all 0.5s;*/
    width: auto;
    position: relative;
    transition: 0.5s ease;

}

.btn-verify:hover {
    transform: translateY(-8px);

}

.btn-verify:disabled{
    background: rgba(103, 187, 209, 0.93);
    cursor: auto;
}

.btn-verify:disabled:hover{
    transform: none;

}</style>

<script>
$(document).ready(function () {

$('.not-first'). prop("disabled", true);

$('.btn-verify'). prop("disabled", true);

});   

$(function() {
'use strict';
var body = $('body');

function goToNextInput(e) {
  var key = e.which,
      t = $(e.target),
      sib = t.next('input');

  if (key === 9) {
    return true;
  }

  if (!sib || !sib.length) {
    sib = body.find('input').eq(0);
    $('.btn-verify'). prop("disabled", false);
  }

  sib.select().removeAttr('disabled');
  sib.select().focus();

}

function onFocus(e) {
  $(e.target).select();
}

body.on('keyup', 'input', goToNextInput);
body.on('click', 'input', onFocus);

})
</script>
<div class="col-lg-6 float-right center1 txt-center card-box2 two-step-div">
    <img class="my-img" src="https://res.cloudinary.com/dmfa6q9kt/image/upload/v1582324190/logos/logo.png_p08g81.png">
    <p class="two-title">Verification Mail</p>
    <p class="two-p">Hey, <%= email %>
        <br>Is this your account?<br>
        if no, you can ignore this message</p>
<form action ="/verify/user" method="POST">
    <input type="hidden" name="email" value="<%= email %>">
    <input type="hidden" name="secret_id" value="<%= secret_id %>">
    <button style="margin-top: 35px" class="btn btn-primary btn-embossed btn-verify">Verify</button>
</form>
</div>
<script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
<script>