<%include partials/header %>
<style>
    main {
      font-family: 'PT Serif', Georgia, Cambria, "Times New Roman", Times, serif;
      color: rgba(0, 0, 0, 0.84);
      font-size: 21px;
      max-width: 680px;
      margin-left: auto;
      margin-right: auto;
    }
    
    .medium-img {
      position: relative;
      background: #CCC;
      width: 100%;
      height: auto;
      overflow: hidden;
      border-radius: 10px;
    }
    
    
    main img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0;
      cursor: zoom-in;
    }
    
    main h1 {
      font-size: 41px;
      line-height: 48px;
      font-weight: 400;
      margin-bottom: 2em;
    }
    
    main p {
      margin-top: 2em;
      line-height: 1.58;
      font-size: .9em;
    }
    
    
    .blur {
      filter: blur(25px);
      animation-name: example;
      animation-duration: .5s;
      animation-delay: .5s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
    }
    
    .no-blur {
      filter: blur(0);
      transition: filter .5s 2s ease-in;
    }
    
    .hd {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0;
      animation-name: example;
      animation-duration: 1s;
      animation-delay: 2s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
      object-fit: cover;
      image-rendering: crisp-edges;
      image-rendering: pixelated;
    }
    
    @keyframes example {
      from {opacity: 0;}
      to {opacity: 1;}
    }
    </style>
    <script>
    window.addEventListener("load", function() {
      let lazy = document.getElementsByClassName("medium-img");
      for (let n = 0, len = lazy.length; n < len; n++) {
        lazy[n].children[0].setAttribute("src", lazy[n].getAttribute("data-src"));
        lazy[n].children[0].addEventListener("load", function(e) {
          e.target.classList.add("no-blur");
        });
      }
    });
    </script><main>
      
      <h1><%= details[0].title %></h1>
      
      
        <div class="medium-img" data-src="https://res.cloudinary.com/dmfa6q9kt/image/upload/v1582324190/logos/logo.png_p08g81.png">
          <img class="blur" src="https://lab.logico.ar/lazy-medium-img/arcade-thumb.jpg" width="1260" height="540" />
          <noscript>
            <img src="https://lab.logico.ar/lazy-medium-img/arcade.jpg"  />
          </noscript>
        </div>
      
        <p>
            <%- details[0].lesson %>
        </p>
      
      
    </main>
    